@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  height: 100vh;
  background: #424242;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(140deg, #474747, #3b3b3b);
  box-shadow:  5px 5px 10px #353535,
              -5px -5px 10px #4f4f4f;
}

.card-header{
  background-size: cover;
  padding: 50px 40px;
}

.pic{
  display: inline-block;
  padding: 2px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(145deg, #474747, #3b3b3b);
  box-shadow:  5px 5px 10px #282828,
              -5px -5px 10px #5c5c5c;
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: white;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.sm a{
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.sm a.fab{
  padding: 3px;
  background: linear-gradient(145deg, #474747, #3b3b3b);
  box-shadow:  5px 5px 10px #353535,
              -5px -5px 10px #4f4f4f;
}

.sm a.fab:hover{
  background: linear-gradient(145deg, #3b3b3b, #474747);
  box-shadow:  5px 5px 10px #353535,
              -5px -5px 10px #4f4f4f;
}

/*! Button Facebook */
.sm a.fab.fa-facebook{
  color: #4267B2;
}
.sm a.fab.fa-facebook:hover{
  color: gray;
}
/*! Button Facebook */

/*! Button Youtube */
.sm a.fab.fa-youtube{
  color: red;
}
.sm a.fab.fa-youtube:hover{
  color: gray;
}
/*! Button Youtube */

/*! Button Telegram */
.sm a.fab.fa-telegram{
  color: #179CDE;
}
.sm a.fab.fa-telegram:hover{
  color: gray;
}
/*! Button Telegram */

/*! Button Github */
.sm a.fab.fa-github{
  color: black;
}
.sm a.fab.fa-github:hover{
  color: gray;
}
/*! Button Github */

/*! Button Contact */
.contact-btn{
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  padding: 12px 50px;
  color: white;
  border-radius: 6px;
  margin-top: 16px;
  background: linear-gradient(170deg, #474747, #3b3b3b);
  box-shadow:  5px 5px 10px #353535,
              -5px -5px 10px #4f4f4f;
}

.contact-btn:hover{
  color: gray;
  background: linear-gradient(170deg, #3b3b3b, #474747);
  box-shadow:  5px 5px 10px #353535,
              -5px -5px 10px #4f4f4f;
}
/*! Button Contact */

.card-footer{
  background: transparent;
  background-size: cover;
  padding: 40px 10px;
}

.numbers{
  display: flex;
  align-items: center;
}

.item{
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: gray;
}

.item span{
  display: block;
  color: white;
  font-size: 30px;
}

.border{
  width: 1px;
  height: 30px;
  background: #bbb;
}